$bodyBackgroundColor: #ecf0f1;
$logoWidth: 320px;
$logoHeight: 200px;
$stemHeight: 200px;
$stemWidth: 10px;
$stemAngle: 20deg;
$logoAnimationDuration: 1s;
$aColor: #3498db;
$crossbarColor: darken(#bdc3c7, 7%);
$mColor: darken(#2980b9, 5%);